# Importing Libraries

In [40]:
import pandas as pd
import numpy as np

# PDF Text extraction
import tabula
import re

In [41]:
data = pd.read_csv('flats_berlin.csv')

# Data Check

### Check for duplicated rows

In [42]:
data[data.duplicated()]

Empty DataFrame
Columns: [Titel, Url, Kaltmiete, Nebenkosten, Heizkosten, Gesamtmiete, Kaution o. Genossenschaftsanteile, Etage, Wohnfläche ca., Zimmer, Schlafzimmer, Badezimmer, Personenaufzug, Einbauküche, Baujahr, Modernisierung/ Sanierung, Objektzustand, Heizungsart, Wesentliche Energieträger, Energieausweis, Energieausweistyp, Energieverbrauchskennwert, Anbieter, Adreese]
Index: []

[0 rows x 24 columns]

### Check percentage of missing values

In [43]:
data.isna().mean()

Titel                                0.000000
Url                                  0.000000
Kaltmiete                            0.000000
Nebenkosten                          0.000000
Heizkosten                           0.000000
Gesamtmiete                          0.000000
Kaution o. Genossenschaftsanteile    0.073649
Etage                                0.105405
Wohnfläche ca.                       0.000000
Zimmer                               0.000000
Schlafzimmer                         0.427365
Badezimmer                           0.271959
Personenaufzug                       0.476014
Einbauküche                          0.359797
Baujahr                              0.121959
Modernisierung/ Sanierung            0.698649
Objektzustand                        0.226014
Heizungsart                          0.151351
Wesentliche Energieträger            0.232770
Energieausweis                       0.284797
Energieausweistyp                    0.314189
Energieverbrauchskennwert            0.841892
Anbieter                             0.118243
Adreese                              0.000000
dtype: float64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2960 entries, 0 to 2959
Data columns (total 24 columns):
Titel                                2960 non-null object
Url                                  2960 non-null object
Kaltmiete                            2960 non-null object
Nebenkosten                          2960 non-null object
Heizkosten                           2960 non-null object
Gesamtmiete                          2960 non-null object
Kaution o. Genossenschaftsanteile    2742 non-null object
Etage                                2648 non-null object
Wohnfläche ca.                       2960 non-null object
Zimmer                               2960 non-null object
Schlafzimmer                         1695 non-null float64
Badezimmer                           2155 non-null float64
Personenaufzug                       1551 non-null object
Einbauküche                          1895 non-null object
Baujahr                              2599 non-null object
Modernisierung/ Sanierung            892 non-null object
Objektzustand                        2291 non-null object
Heizungsart                          2512 non-null object
Wesentliche Energieträger            2271 non-null object
Energieausweis                       2117 non-null object
Energieausweistyp                    2030 non-null object
Energieverbrauchskennwert            468 non-null object
Anbieter                             2610 non-null object
Adreese                              2960 non-null object
dtypes: float64(2), object(22)
memory usage: 555.1+ KB

# Data Transformation

Showcasing of different methods how data can be manipulated/cleaned up:

- str.replace
- .replace with regex
- loc selection and assignment
- custom functions
- lambda functions

In [45]:
data['Kaltmiete'] = pd.to_numeric(data['Kaltmiete'].str.replace('.','').str.replace(',','.').str.replace(' €',''))

In [46]:
data['Nebenkosten'] = data['Nebenkosten'].str.replace('.','').str.replace(',','.').str.replace(' €','')
data.loc[data['Nebenkosten'] == 'keine Angabe', 'Nebenkosten' ] = np.nan
data['Nebenkosten'] = pd.to_numeric(data['Nebenkosten'])

In [47]:
def transform_heizkosten(x):
    x = x.replace('.','').replace(',','.').replace(' €','')
    if x == 'in Nebenkosten enthalten' or 'inkl' in x:
        x = 0
    elif x == 'nicht in Nebenkosten enthalten' or x == 'keine Angabe':
        x = np.nan
    else:
        x
    return x

data['Heizkosten'] = pd.to_numeric(data['Heizkosten'].apply(transform_heizkosten))

In [48]:
data['Gesamtmiete'] = data['Gesamtmiete'].replace({r" €":"", r"\.":""},regex=True).replace({r"\,":"."},regex=True)
data['Gesamtmiete'] = pd.to_numeric(data['Gesamtmiete'].replace(to_replace=[r" \(zzgl Nebenkosten & Heizkosten\)",
                                                     r" \(zzgl Heizkosten\)",
                                                     r" \(zzgl Nebenkosten\)"],value='',regex=True))

In [49]:
data['Wohnfläche ca.'] = pd.to_numeric(
    data['Wohnfläche ca.'].apply(lambda string: string.replace(' m²','').replace('.','').replace(',','.')))

In [50]:
data['Kaution o. Genossenschaftsanteile'] = data['Kaution o. Genossenschaftsanteile'].replace(to_replace= [r" EUR",r" \€", r"\.",r"\€"],
                                                  value= '',
                                                  regex=True).replace().replace('\,','.',regex=True)

In [51]:
# To be further transformed if necessary
data['Kaution o. Genossenschaftsanteile'].sort_values(ascending=False).head()

2747    zwei Nettokaltmieten
1792                    nein
1323          nach Absprache
2514                entfällt
765     drei Nettokaltmieten
Name: Kaution o. Genossenschaftsanteile, dtype: object

In [52]:
data['Baujahr'] = pd.to_numeric(data['Baujahr'].replace("unbekannt",''))

In [53]:
data['Modernisierung/ Sanierung'] = pd.to_numeric(data['Modernisierung/ Sanierung'].replace(r"zuletzt ",'',regex=True))

In [54]:
data["Energieverbrauchskennwert"] = pd.to_numeric(data["Energieverbrauchskennwert"].replace(r" kWh/\(m\²\*a\)","",regex=True).replace(r"\.","",regex=True).replace(r"\,",".",regex=True))

In [55]:
# Correcting small spelling mistake
data.rename(columns={'Adreese':'Adresse'},inplace=True)

In [56]:
def split_address(x):
    address_list = x.split(',')
    length = len(address_list)
    street = np.nan
    zip_code = np.nan
    kiez = np.nan
    if length == 3:
        street = address_list[0].strip()
        zip_code = address_list[1].strip()
        kiez = address_list[2].strip()
        #return street, zip_code, kiez
    if length == 2:
        street = np.nan
        zip_code = address_list[0].strip()
        kiez = address_list[1].strip()
        kiez = kiez.replace(' Die vollständige Adresse der Immobilie erhalten Sie vom Anbieter.','').strip()
    
    return street, zip_code, kiez

address = pd.DataFrame.from_records(data['Adresse'].apply(split_address)).rename(columns={0:'Straße',1:'PLZ',2:'Kiez'})
data = data.join(address)

In [57]:
def split_street_house_number(string):
    street = np.nan
    number = np.nan
    
    if isinstance(string, str):
        match = re.search('\d\s?\w*',string)
        if match:
            street = string[:match.span()[0]].strip()
            number = string[match.span()[0]:match.span()[1]].strip()
    else:
        string
    
    return pd.Series({'Straße':street, 'Housenumber':number})

In [58]:
data[['Straße','Hausnummer']] = data['Straße'].apply(split_street_house_number)

In [59]:
# extract house number only without letter
data['Hausnummer'] = data['Hausnummer'].str.extract(r'(\d*)')

In [185]:
data['Ortsteil'] = data['Kiez'].str.split('(',expand=True)[0].str.strip(')').str.strip()

In [195]:
abbreviations = pd.read_csv('cleaned_abrevations.csv')
abbreviations = abbreviations[abbreviations['Ortsteil'].notnull()]

In [202]:
abbreviations[abbreviations['Ortsteil'] == 'Karow']
abbreviations.drop_duplicates(inplace=True)

In [204]:
data

,Titel,Url,Kaltmiete,Nebenkosten,Heizkosten,Gesamtmiete,Kaution o. Genossenschaftsanteile,Etage,Wohnfläche ca.,Zimmer,...,Energieausweistyp,Energieverbrauchskennwert,Anbieter,Adresse,Straße,PLZ,Kiez,Hausnummer,Ortsteil,Kaltmiete pro m²
0,Nutzen Sie Ihre Chance - 2 Zimmerwohnung mit b...,https://www.immobilienscout24.de/expose/114414026,979.40,179.00,72.00,1265.40,2938.20,2 von 4,78.00,2,...,Verbrauchsausweis,114.1,German Prop Tech GmbH,"Reinickendorfer Straße 4, 13447 Berlin, Weddin...",Reinickendorfer Straße,13447 Berlin,Wedding (Wedding),4,Wedding,12.556410
1,Komfort 1 Zimmer Apartment - Möbliert in Topci...,https://www.immobilienscout24.de/expose/113507810,895.00,100.00,0.00,995.00,2685,3 von 6,30.97,1,...,NaN,NaN,first single apartment verwaltungs GmbH & Co. ...,"Leibnizstraße 85, 10625 Berlin, Charlottenburg...",Leibnizstraße,10625 Berlin,Charlottenburg (Charlottenburg),85,Charlottenburg,28.898934
2,Sofort bezugsfertig: 2-Zimmer-Wohnung mit Terr...,https://www.immobilienscout24.de/expose/109379660,798.98,197.11,0.00,996.09,2396.93,NaN,67.71,2,...,Bedarfsausweis,NaN,allod Immobilien- und Vermögensverwaltungsges....,"Am Hohen Feld 125a , 13125 Berlin, Karow (Weiß...",Am Hohen Feld,13125 Berlin,Karow (Weißensee),125,Karow,11.800030
3,Sofort bezugsfertig: 3-Zimmer-Dachgeschosswohn...,https://www.immobilienscout24.de/expose/111945160,1158.95,257.14,0.00,1416.09,3476.85,NaN,89.15,3,...,Bedarfsausweis,NaN,allod Immobilien- und Vermögensverwaltungsges....,"Am Hohen Feld 125a , 13125 Berlin, Karow (Weiß...",Am Hohen Feld,13125 Berlin,Karow (Weißensee),125,Karow,13.000000
4,"*Balkon*, *EBK*, *Erstbezug*, Tolle 3 Zi. Whg.",https://www.immobilienscout24.de/expose/115629249,1447.30,164.00,82.00,1693.30,2895,4 von 5,82.00,3,...,Bedarfsausweis,NaN,ADLER Wohnen Service GmbH Gänsemarkt 50 20354 ...,"Hedwig-Porschütz-Straße 2, 10557 Berlin, Tierg...",Hedwig-Porschütz-Straße,10557 Berlin,Tiergarten (Tiergarten),2,Tiergarten,17.650000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,Maisonette-Wohnung in attraktiver Stadtvilla m...,https://www.immobilienscout24.de/expose/43357148,1068.44,125.00,125.00,1318.44,3 Nettokaltmieten,2 von 2,117.04,4,...,Bedarfsausweis,NaN,Panita GmbH Möllhausenufer 16 12557 Berlin,"Müggelbergallee 5, 12557 Berlin, Köpenick (Köp...",Müggelbergallee,12557 Berlin,Köpenick (Köpenick),5,Köpenick,9.128845
2956,Prenzlauer Berg! 2-Zimmer-Wohnung! Besichtigun...,https://www.immobilienscout24.de/expose/51881358,994.12,109.16,85.77,1189.05,3 Nettokaltmieten,4 von 4,77.97,2,...,Verbrauchsausweis,NaN,JS-ES GbR,"Meyerheimstr. 15, 10439 Berlin, Prenzlauer Ber...",Meyerheimstr.,10439 Berlin,Prenzlauer Berg (Prenzlauer Berg),15,Prenzlauer Berg,12.750032
2957,Wohnen am Görlitzer Park,https://www.immobilienscout24.de/expose/46482339,1300.00,200.00,300.00,1800.00,3900,0 von 5,132.00,5,...,NaN,NaN,Ohmstr. 1 80802 München,"Görlitzer Str. 43, 10997 Berlin-Kreuzerg, Kreu...",Görlitzer Str.,10997 Berlin-Kreuzerg,Kreuzberg (Kreuzberg),43,Kreuzberg,9.848485
2958,Helle große 3-Zimmerwohnung in Friedrichshain ...,https://www.immobilienscout24.de/expose/53468313,1128.00,95.00,115.00,1338.00,3384,4 von 4,94.00,3,...,Verbrauchsausweis,NaN,Steinke Albrecht Mitzkait GbR,"Mühsamstraße 66, 10249 Berlin, Friedrichshain ...",Mühsamstraße,10249 Berlin,Friedrichshain (Friedrichshain),66,Friedrichshain,12.000000
2959,Provisionsfrei- zentrale Spandaulage - charman...,https://www.immobilienscout24.de/expose/52965509,1998.00,230.00,270.00,2498.00,5994,1 von 4,259.00,7,...,Bedarfsausweis,NaN,Neue Kreisstr. 23 14109 Berlin,"Stresowplatz 16a, 13597 Berlin, Spandau (Spandau)",Stresowplatz,13597 Berlin,Spandau (Spandau),16,Spandau,7.714286

In [203]:
pd.merge(data, abbreviations, left_on='Ortsteil', right_on='Ortsteil', how='left')

,Titel,Url,Kaltmiete,Nebenkosten,Heizkosten,Gesamtmiete,Kaution o. Genossenschaftsanteile,Etage,Wohnfläche ca.,Zimmer,...,Anbieter,Adresse,Straße,PLZ,Kiez,Hausnummer,Ortsteil,Kaltmiete pro m²,Bezirk,Ortsteilabkürzung
0,Nutzen Sie Ihre Chance - 2 Zimmerwohnung mit b...,https://www.immobilienscout24.de/expose/114414026,979.40,179.00,72.00,1265.40,2938.20,2 von 4,78.00,2,...,German Prop Tech GmbH,"Reinickendorfer Straße 4, 13447 Berlin, Weddin...",Reinickendorfer Straße,13447 Berlin,Wedding (Wedding),4,Wedding,12.556410,Mitt,Weddg
1,Komfort 1 Zimmer Apartment - Möbliert in Topci...,https://www.immobilienscout24.de/expose/113507810,895.00,100.00,0.00,995.00,2685,3 von 6,30.97,1,...,first single apartment verwaltungs GmbH & Co. ...,"Leibnizstraße 85, 10625 Berlin, Charlottenburg...",Leibnizstraße,10625 Berlin,Charlottenburg (Charlottenburg),85,Charlottenburg,28.898934,ChWi,Charl
2,Sofort bezugsfertig: 2-Zimmer-Wohnung mit Terr...,https://www.immobilienscout24.de/expose/109379660,798.98,197.11,0.00,996.09,2396.93,NaN,67.71,2,...,allod Immobilien- und Vermögensverwaltungsges....,"Am Hohen Feld 125a , 13125 Berlin, Karow (Weiß...",Am Hohen Feld,13125 Berlin,Karow (Weißensee),125,Karow,11.800030,Pank,Karow
3,Sofort bezugsfertig: 3-Zimmer-Dachgeschosswohn...,https://www.immobilienscout24.de/expose/111945160,1158.95,257.14,0.00,1416.09,3476.85,NaN,89.15,3,...,allod Immobilien- und Vermögensverwaltungsges....,"Am Hohen Feld 125a , 13125 Berlin, Karow (Weiß...",Am Hohen Feld,13125 Berlin,Karow (Weißensee),125,Karow,13.000000,Pank,Karow
4,"*Balkon*, *EBK*, *Erstbezug*, Tolle 3 Zi. Whg.",https://www.immobilienscout24.de/expose/115629249,1447.30,164.00,82.00,1693.30,2895,4 von 5,82.00,3,...,ADLER Wohnen Service GmbH Gänsemarkt 50 20354 ...,"Hedwig-Porschütz-Straße 2, 10557 Berlin, Tierg...",Hedwig-Porschütz-Straße,10557 Berlin,Tiergarten (Tiergarten),2,Tiergarten,17.650000,Mitt,Tierg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3464,Prenzlauer Berg! 2-Zimmer-Wohnung! Besichtigun...,https://www.immobilienscout24.de/expose/51881358,994.12,109.16,85.77,1189.05,3 Nettokaltmieten,4 von 4,77.97,2,...,JS-ES GbR,"Meyerheimstr. 15, 10439 Berlin, Prenzlauer Ber...",Meyerheimstr.,10439 Berlin,Prenzlauer Berg (Prenzlauer Berg),15,Prenzlauer Berg,12.750032,Pank,Prenz
3465,Wohnen am Görlitzer Park,https://www.immobilienscout24.de/expose/46482339,1300.00,200.00,300.00,1800.00,3900,0 von 5,132.00,5,...,Ohmstr. 1 80802 München,"Görlitzer Str. 43, 10997 Berlin-Kreuzerg, Kreu...",Görlitzer Str.,10997 Berlin-Kreuzerg,Kreuzberg (Kreuzberg),43,Kreuzberg,9.848485,FrKr,Kreuz
3466,Helle große 3-Zimmerwohnung in Friedrichshain ...,https://www.immobilienscout24.de/expose/53468313,1128.00,95.00,115.00,1338.00,3384,4 von 4,94.00,3,...,Steinke Albrecht Mitzkait GbR,"Mühsamstraße 66, 10249 Berlin, Friedrichshain ...",Mühsamstraße,10249 Berlin,Friedrichshain (Friedrichshain),66,Friedrichshain,12.000000,FrKr,Frhai
3467,Provisionsfrei- zentrale Spandaulage - charman...,https://www.immobilienscout24.de/expose/52965509,1998.00,230.00,270.00,2498.00,5994,1 von 4,259.00,7,...,Neue Kreisstr. 23 14109 Berlin,"Stresowplatz 16a, 13597 Berlin, Spandau (Spandau)",Stresowplatz,13597 Berlin,Spandau (Spandau),16,Spandau,7.714286,Span,NaN
3468,Provisionsfrei- zentrale Spandaulage - charman...,https://www.immobilienscout24.de/expose/52965509,1998.00,230.00,270.00,2498.00,5994,1 von 4,259.00,7,...,Neue Kreisstr. 23 14109 Berlin,"Stresowplatz 16a, 13597 Berlin, Spandau (Spandau)",Stresowplatz,13597 Berlin,Spandau (Spandau),16,Spandau,7.714286,Span,Spand

In [60]:
data['Ortsteil'] = data['Kiez'].str.split('(',expand=True)[0].str.strip()

## Feature Engineering

In [61]:
data['Kaltmiete pro m²'] = data['Kaltmiete']/data['Wohnfläche ca.']

### Location Rating

PDF Source: https://www.stadtentwicklung.berlin.de/wohnen/mietspiegel/de/download/Strassenverzeichnis2019.pdf

In [91]:
# Extracting left tables
top = 69
left = 39
height = 723
width = 253

y1 = top
x1 = left
y2 = top + height
x2 = left + width

area=(y1,x1,y2,x2)
columns = [39,164.23,186.03,193.35,244.96,256.63,286.21]

dfs_1 = tabula.read_pdf("Strassenverzeichnis2019.pdf", 
                     pages='3-262', 
                     area=area,
                     columns=columns,
                     pandas_options={'columns':['Unnamed: 0',
                                                'straße',
                                                'bezirk',
                                                'gebietsstand',
                                                'hausnummer',
                                                'buchstabe',
                                               'wohnlage_einstufung',
                                               'lage_im_stadtgebiet']},
                     guess=False)

# Extracting left tables
top = 69
left = 303
height = 723
width = 253

y1 = top
x1 = left
y2 = top + height
x2 = left + width

area=(y1,x1,y2,x2)
columns = [303,428, 450, 457,509, 520,550]

dfs_2 = tabula.read_pdf("Strassenverzeichnis2019.pdf", 
                     pages='3-262', 
                     area=area,
                     columns=columns,
                     pandas_options={'columns':['Unnamed: 0',
                                                'straße',
                                                'bezirk',
                                                'gebietsstand',
                                                'hausnummer',
                                                'buchstabe',
                                               'wohnlage_einstufung',
                                               'lage_im_stadtgebiet']},
                     guess=False)

dfs_1.append(dfs_2)

In [92]:
# Create new empty final dataframe
location_info = pd.DataFrame()
tables = dfs_1
for table in tables:
    location_info = location_info.append(table)

### Further clean up of location info

In [93]:
location_info.drop(columns='Unnamed: 0',inplace=True)

In [94]:
# Drop rows without a bezirk
location_info = location_info[location_info['bezirk'].notnull()]

# Strip Text
location_info = location_info.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [95]:
def transform_housenumbers(x):
    if isinstance(x, str):
        start = x.split('-')[0].strip()
        end = x.split('-')[1].strip()
        
        start = int(re.search('\d*', start).group())
        end = int(re.search('\d*', end).group())
        return list(range(start,end+1))
    else:
        return x

In [96]:
location_info['hausnummer'] = location_info['hausnummer'].apply(transform_housenumbers)

In [147]:
# Add bezirk details
bezirk_abbreviations = abbreviations
bezirk_abbreviations.columns = bezirk_abbreviations.columns.str.lower()
bezirk_abbreviations = bezirk_abbreviations[bezirk_abbreviations['ortsteilabkürzung'].isnull()].drop(46).drop(columns='ortsteilabkürzung')

# Add full name of bezirk to df
location_info = pd.merge(location_info, bezirk_abbreviations, how='left')

NameError: name 'abbreviations' is not defined

In [100]:
location_info = location_info.explode('hausnummer')

In [117]:
location_info['hausnummer'] = location_info['hausnummer'].apply(lambda x: str(x))

In [177]:
location_info['ortsteil'] = location_info['ortsteil'].str.strip()

### Merge location rating to scraped data

In [186]:
test = pd.merge(data, location_info, left_on=['Straße','Ortsteil','Hausnummer'], right_on=['straße','ortsteil','hausnummer'], how='left')

In [190]:
test.isnull().mean()

Titel                                0.000000
Url                                  0.000000
Kaltmiete                            0.000000
Nebenkosten                          0.024148
Heizkosten                           0.117433
Gesamtmiete                          0.000000
Kaution o. Genossenschaftsanteile    0.000000
Etage                                0.105194
Wohnfläche ca.                       0.000000
Zimmer                               0.000000
Schlafzimmer                         0.429044
Badezimmer                           0.273239
Personenaufzug                       0.479987
Einbauküche                          0.360900
Baujahr                              0.146874
Modernisierung/ Sanierung            0.699967
Objektzustand                        0.226596
Heizungsart                          0.150844
Wesentliche Energieträger            0.232220
Energieausweis                       0.285809
Energieausweistyp                    0.316904
Energieverbrauchskennwert            0.842541
Anbieter                             0.119418
Adresse                              0.000000
Straße                               0.145882
PLZ                                  0.002977
Kiez                                 0.002977
Hausnummer                           0.145882
Ortsteil                             0.002977
Kaltmiete pro m²                     0.000000
straße                               0.901753
bezirk                               0.901753
gebietsstand                         0.901753
hausnummer                           0.901753
buchstabe                            0.901753
wohnlage_einstufung                  0.901753
lage_im_stadtgebiet                  0.901753
ortsteil                             0.901753
dtype: float64

In [ ]:
data.join(abbreviations,how='left')

In [ ]:
"""
Erstmalige Bezugsfertigkeit der Wohnung und Ausstattung	Mietpreis pro Quadratmeter
bis 1918 mit Sammelheizung und mit Bad	6,45 Euro
bis 1918 mit Sammelheizung oder mit Bad	5,00 Euro
bis 1918 ohne Sammelheizung und ohne Bad	3,92 Euro
1919 bis 1949 mit Sammelheizung und mit Bad	6,27 Euro
1919 bis 1949 mit Sammelheizung oder mit Bad	5,22 Euro
1919 bis 1949 ohne Sammelheizung und ohne Bad	4,59 Euro
1950 bis 1964 mit Sammelheizung und mit Bad	6,08 Euro
1950 bis 1964 mit Sammelheizung oder mit Bad	5,62 Euro
1965 bis 1972 mit Sammelheizung und mit Bad	5,95 Euro
1973 bis 1990 mit Sammelheizung und mit Bad	6,04 Euro
1991 bis 2002 mit Sammelheizung und mit Bad	8,13 Euro
2003 bis 2013 mit Sammelheizung und mit Bad	9,80 Euro
"""

In [ ]:
rental_ceiling_info = {
    'min_year': [1918, 1918, 1918, 1919, 1919, 1919, 1950, 1950, 1965, 1973, 1991, 2003 ],
    'max_year': [1918, 1918, 1918, 1949, 1949, 1949, 1964, 1964, 1972, 1990, 2002, 2013 ],
    'sammelheizung' : [True, True, False, True, True, False, True, True, True, True, True, True],
    'bad' : [True, True, False, True, True, False, True, True, True, True, True, True],
    'condition': ['and', 'or', 'and', 'and', 'or', 'and', 'and', 'or', 'and', 'and', 'and', 'and'],
    'price_per_square_meter' : [6.45, 5.00, 3.92, 6.27, 5.22, 4.59, 6.08, 5.62, 5.95, 6.04, 8.13, 9.8]
}

In [ ]:
len(rental_ceiling_info['price_per_square_meter'])

In [ ]:
rental_ceiling_info = pd.DataFrame.from_dict(rental_ceiling_info)

In [ ]:
rental_ceiling_info

In [ ]:
def find_price_ceiling(df):
    if df['Baujahr'] <= 1918:
        max_price = 6.45
    elif df['Baujahr'] >= 1919 and df['Baujahr'] <= 1949:
        max_price = 6.27
    elif df['Baujahr'] >= 1950 and df['Baujahr'] <= 1964:
        max_price = 6.08
    elif df['Baujahr'] >= 1965 and df['Baujahr'] <= 1972:
        max_price = 5.95
    elif df['Baujahr'] >= 1973 and df['Baujahr'] <= 1990:
        max_price = 6.04
    elif df['Baujahr'] >= 1991 and df['Baujahr'] <= 2002:
        max_price = 8.13
    elif df['Baujahr'] >= 2003 and df['Baujahr'] <= 2013:
        max_price = 9.80
    else:
        max_price = np.nan
    
    return max_price

In [ ]:
data['Mietendeckel pro Quadratmeter ohne Modernisierung']=  data.apply(find_price_ceiling,axis=1) * 1.2

In [ ]:
illegal = data[data['Kaltmiete pro m²'] > data['Mietendeckel pro Quadratmeter ohne Modernisierung']]

In [ ]:
illegal.groupby('Anbieter').count().sort_values(by='Titel',ascending=False)

In [ ]:
not_illegal = data[data['Kaltmiete pro m²'] < data['Mietendeckel pro Quadratmeter ohne Modernisierung']]

In [ ]:
not_illegal.groupby('Anbieter').count().sort_values(by='Titel',ascending=False)

In [ ]:
data